/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__link {
  font-size: 18px;
  white-space: nowrap;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 140px;
}

.header__adress {
  font-style: normal;
  justify-self: end;
  line-height: 24.3px;
  text-underline-position: under;
  width: 240px;
  font-weight: 400;
  font-size: 18px;
}

.cover {
  position: relative;
  margin: 0 0 180px;
  padding-top: 165px;
  padding-right: 50px;
  padding-left: 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index:0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
  width: 100%;
  font-weight: 700px;
  font-size: 100px;
  font-style: bold;
  color:rgba(255, 255, 255, 1);
  letter-spacing: 30px;
}

.aligned-text {
  display: flex;
  flex-direction: column;
}

.aligen-text_center {
  display: flex;
  justify-content: center;
}

.aligen-text_right {
  display: flex;
  justify-content: end;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  padding-bottom: 56px;
  align-items: center;
}

.cover__description-text {
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-size: 22px;
  word-spacing: 18px;
}

.bet-button {
  margin-left: auto;
  border-radius: 0;
  padding: 12px 25px;
  width: 257px;
  height: 52px;
  line-height: normal;
  font-size: 22px;
  text-transform: uppercase;
  border: 1px solid #fff;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
}

.lots {
  margin: 180px 24px 0;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  margin-left: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 27px;
  list-style: none;
  gap: 25px;
}

.lots__card-list-item {
  max-width: 334px;
  list-style: none;
}

.card-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  padding: 40px 40px 40px;
  min-height: 570px;
} 

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
 
}

.card__title {
  position: relative;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase; 
  z-index: 2;
}

.card__text {
  position: relative;
  color: rgba(255, 255, 255, 1);
  line-height: 120%;
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  z-index: 2;
}

.lots__look-more-link {
  display: block;
  margin: 30px 0 0 40px; 
  font-size: 20px;
  text-decoration-line: underline;
  text-underline-position: under;
}

.about {
  display: flex;
  flex-direction: row;
  margin: 182px 28px 176px 24px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-right: 71px;
  margin-left: 47px;
  border-radius: 50%;
  background-color:rgba(0, 0, 0, 1);
}

.about__logo-image {
  object-fit: contain;
  object-position: top;
  width: 148px;
}

.about__title {
  margin: 100px 0;
  color: rgb(0, 0, 0, 1);
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: normal;
}

.about__text_block {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text {
  font-size: 20px;
  line-height: normal;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-right: 50px;
  margin-bottom: 86px;
  margin-left: 50px;
}

.footer__address {
  margin-left: 0;
  max-width: 22%;
  font-style: normal;
  text-underline-position: under;
}

.footer__menu {
  margin: auto;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
  line-height: normal;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
  width: 48px;
  height: 48px;
}

.footer__social-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.footer__social-icon {
  width: auto;
  height: 100%;
}